[submodule "vendor/doctrine-orm"]
	path = vendor/doctrine-orm
	url = git://github.com/doctrine/doctrine2.git
[submodule "vendor/doctrine-migrations"]
	path = vendor/doctrine-migrations
	url = https://github.com/doctrine/migrations
