language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer install --dev --prefer-source
  - wget http://cs.sensiolabs.org/get/php-cs-fixer.phar

script:
  - ./vendor/bin/phpunit --coverage-clover ./build/clover.xml
  - php build/coverage-checker.php build/clover.xml 60
  - ./.travis/check-cs.sh
