parameters:
    level: 6
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Offset mixed on array\{\} in isset\(\) does not exist#'
            path: src/Yuml/MetadataGrapher.php
        -
            message: '#Return type .* of method DoctrineORMModule\\Yuml\\YumlController::indexAction\(\)#'
            path: src/Yuml/YumlController.php
        -
            message: '#Parameter \#1 .* of method DoctrineORMModule\\Options\\Configuration.* stdClass given#'
            path: tests/Options/ConfigurationOptionsTest.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
