parameters:
    level: 6
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
          identifier: missingType.generics
        -
          identifier: method.alreadyNarrowedType
        -
          identifier: function.alreadyNarrowedType
        -
          message: '#Method .*CliConfigurator::getHelpers\(\) .*ConnectionHelper#'
          path: src/CliConfigurator.php
        -
          message: '#Method .*DBALConnection::getDriverClass\(\) never returns null#'
          path: src/Options/DBALConnection.php
        -
          message: '#Offset mixed on array\{\} in isset\(\) does not exist#'
          path: src/Yuml/MetadataGrapher.php
        -
          message: '#Return type .* of method DoctrineORMModule\\Yuml\\YumlController::indexAction\(\)#'
          path: src/Yuml/YumlController.php
        -
          message: '#Parameter \#1 .* of method DoctrineORMModule\\Options\\Configuration.* stdClass given#'
          path: tests/Options/ConfigurationOptionsTest.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
