<?php
$configuration = array(
    'modules' => array(
        'DoctrineModule',
        'DoctrineORMModule',
    ),
    'module_listener_options' => array(
        'config_cache_enabled' => false,
        'cache_dir'            => 'data/cache',
        'module_paths' => array(
            './vendor',
        ),
    ),
    'service_manager' => array(
        'use_defaults' => true,
    ),
);