<?php
 /**
  * Doctrine ORM Configuration
  *
  * If you have a ./configs/autoload/ directory set up for your project, you can
  * drop this config file in it and change the values as you wish. This file is intended
  * to be used with a standard Doctrine ORM setup. If you have something more advanced
  * you may override the Zend\Di configuration manually (see module.config.php).
  */
return array(
    'doctrine_orm_connection' => array(
        'driver'   => 'pdo_mysql',
        'host'     => 'localhost',
        'port'     => '3306',
        'user'     => 'user',
        'password' => 'password',
        'dbname'   => 'database',
    ),

    'doctrine_orm_config' => array(
        'auto_generate_proxies'     => true,
        'proxy_dir'                 => 'data/DoctrineORMModule/Proxy',
        'proxy_namespace'           => 'DoctrineORMModule\Proxy',

        'entity_namespaces'         => array(),

        'custom_datetime_functions' => array(),
        'custom_string_functions'   => array(),
        'custom_numeric_functions'  => array(),

        'named_queries'             => array(),
        'named_native_queries'      => array(),

        'sql_logger'                => null,
    ),
);